<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/assets/main.css">
    <title>{{ page.title | escape }}</title>
    
    {% for css in layout.css %}
        <link rel="stylesheet" type="text/css" href="/assets/" />
    {% endfor %}
    
    {% for css in page.css %}
        <link rel="stylesheet" type="text/css" href="/assets/" />
    {% endfor %}
    
  </head>
  
  <body>
    {{ content }}
</html>
